/*Reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/*Estilização do site*/
body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(#ffffff, #c1c1c1, #D61515);
}

.cabecalho {
    
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 60px;
}

#logo-img{
    max-width: 220px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container>.produtos {
    color: #D61515;
    font-size: 24px;
    font-weight: 500px;
    margin-bottom: 32px;
    line-height: 32px;
    letter-spacing: 2px;
}

.container>.filtros {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

#imagens-produtos{
    height: 425px;
    max-width: 500px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.container .categorias-cartas, .container .preco-cartas {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.container label {
    letter-spacing: 2px;
    font-weight: 500;
    color: #D61515;
}

.container .categorias-cartas select, .container .preco-cartas input {
    padding: 16px 13px;
    border-radius: 2px;
    border: 2px solid #D61515;
    background-color: #f2eefa;
    color: #130234;
    height: 52px;
}

.container select:focus,
.container input:focus,
.container select:focus-visible,
.container input:focus-visible {
    outline: none;
}
.container select .categoria {
    appearance: none;
    background: url(../imagens/seta-para-baixo.png) 97% center no-repeat;
}
.container .filtros .btn-filtrar{
    border: none;
    background-color: #D61515;
    color: #ededed;
    padding: 16px 32px;
    font-weight: 500;
    align-self: end;
    width: 177px;
    height: 52;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.3s;
}
.container .filtros .btn-filtrar:hover{
    background-color: #33008f;
}
.container .cartas{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 32px;
}
.container .cartas .carta{
    max-width: 365px;
    background-color: #ededed;
    color: #0e0027;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.5);
}
.container .carta img{
    width: 100%;
    padding: 20px;
}
.container .carta .informacoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.container .carta .informacoes .nome-personagem{
    font-size: 24px;
    font-weight: 700;
    color: #111111;
}
.container .carta .informacoes .categoria {
    color: #7e7e7e;
    font-weight: 700;
}
.container .carta .informacoes .preco {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 700;
    color:#4d8e5c
}
.container .carta .informacoes .btn-comprar{
    color: #ededed;
    background-color:#D61515;
    padding: 16px;
    border-radius: 4px;
    letter-spacing: 2px;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
}
.container .carta .informacoes .btn-comprar:hover{
    background-color: #33008f;
}

.rodape{
    display: flex;
    justify-content: center;
    background-color: #D61515;
    color: #ededed;
    padding: 20px;
    margin-top: 60px;
}
.esconder{
    display: none;
}
.mostrar{
    display: block;
}
